.service-bot {
    display: none;
    background-color: #ff008c;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    border: 4px rgb(6, 218, 147) solid;
    position:relative;
    z-index: 999999999;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.service-bot .chat-scroll-bar {
    height: 440px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.service-bot .left-chat-box {
    text-align: left;
    padding-right: 100px;
}
.service-bot .left-chat-box span {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    background-color: white;
    color: black;
}
.service-bot .right-chat-box {
    text-align: right;
    padding-left: 100px;
}
.service-bot .right-chat-box span {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    background-color: white;
    color: black;
}
.chat-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8290aa;
    padding: 3px 3px 3px 3px;
}

.service-bot .chat-send-box {
    width: 300px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 94%;
    transform: translate(-50%, -50%);
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
.service-bot .chat-send-box input {
    width: 226px;
    height: 30px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 2x;
    padding-bottom: 2x;
    padding-left: 5px;
    padding-right: 5px;
}
.service-bot .chat-send-box button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: blue;
    box-shadow: #ffffff;
}