.profile-box {
    background-color: #1b1c1d;
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}
.profile-box .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px #ffffff solid;
}
.profile-box .profile-name {
    font-size: 25px;
    font-weight: 600;
}
.profile-box .profile-studentid {
    font-size: 15px;
    font-weight: 400;
}

.profile-myinformation-box {
    background-color: #1b1c1d;
    text-align: left;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

.profile-myinformation-box .profile-subtitle {
    font-size: 20px;
    font-weight: 600;
}
.profile-myinformation-box .profile-my-name {
    font-size: 13px;
}
.profile-myinformation-box .profile-my-age {
    font-size: 13px;
}
.profile-myinformation-box .profile-my-studentid {
    font-size: 13px;
}
.profile-myinformation-box .profile-my-mbti {
    font-size: 13px;
}
.profile-myinformation-box .profile-my-sns {
    font-size: 13px;
}
.profile-myinformation-box .profile-aboutme {
    font-size: 13px;
}
.profile-myinformation-box .profile-tmi {
    font-size: 13px;
}
.profile-myinformation-box .profile-spec {
    font-size: 13px;
}